@media (min-width:641px)
    .container
        width: 1020px
    .header-big
        padding-top: 25px
        background-image: url('../assets/img/big-bg.jpg')

        width: 100%
        height: 565px
        background-repeat: no-repeat
    .bg
        display: none
    .header
        background: none
        width: 100%
        position: absolute

 
        
        &__logo
            top: 30%
            background: none
            border: 1px solid red
            img
                width: 83px
                height: 83px    
        &__nav
            border: 1px solid red
            flex-basis: 45% 