@font-face {
  font-family: 'Arial MT';
  src: url('../assets/fonts/ArialMT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  }
@font-face {
    font-family: 'Lucida Sans';
    src: url('../assets/fonts/LucidaSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'PT Sans - Narrow Bold';
    src: url('../assets/fonts/PTSans-Narrow.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/SegoeUI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Segoe WP';
    src: url('../assets/fonts/SegoeWP-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Segoe WP';
    src: url('../assets/fonts/SegoeWP.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Asap';
    src: url('../assets/fonts/Asap-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

