@font-face {
  font-family: 'Arial MT';
  src: url("../assets/fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url("../assets/fonts/LucidaSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans - Narrow Bold';
  src: url("../assets/fonts/PTSans-Narrow.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url("../assets/fonts/SegoeWP-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url("../assets/fonts/SegoeWP.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 62px;
  background-color: #f5c506;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 186px;
  background-color: #4c4c4c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4c4c4c), to(rgba(255, 255, 255, 0.1)));
  background-image: -o-linear-gradient(bottom, #4c4c4c 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to top, #4c4c4c 0%, rgba(255, 255, 255, 0.1) 100%);
}

.header__logo svg {
  margin: 11px 8px 12px 12px;
}

.header__logo h1 {
  margin: 0;
  padding: 0;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
  color: #ffffff;
  font-family: "Lucida Sans";
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.41px;
}

.header__nav {
  font-family: "Segoe WP";
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.19px;
}

.header__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav li {
  margin-top: 20px;
}

.header__nav li:last-child {
  margin-right: 12px;
}

.header__nav a {
  display: block;
  min-width: 125px;
  text-decoration: none;
  color: #9b7d08;
  font-size: 19px;
  font-weight: 400;
  position: relative;
}

.header__nav a::after {
  content: '';
  display: block;
  width: 1px;
  height: 62px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: -22px;
  left: -13px;
}

.header__nav a img {
  vertical-align: middle;
}

.first {
  margin-right: 29px;
}

.middle {
  margin-right: 13px;
}

.header__nav .last {
  padding-right: 0;
}

.header__nav .first::after {
  background: none;
}

.header__nav .middle::after {
  top: -22px;
  left: -8px;
}

.logo_mail {
  margin-right: 12px;
  width: 28px;
  height: 20px;
  margin-top: -7px;
}

.logo_tools {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.logo_people {
  margin-top: -5px;
  margin-right: 11px;
  width: 24px;
  height: 22px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #edc23a;
  opacity: 0.11;
  width: 100%;
  height: 327px;
}

.video-wrapper {
  position: relative;
}

.video-wrapper video {
  width: 100%;
  max-height: 327px;
}

.video-wrapper::after {
  content: '';
  width: 67px;
  height: 67px;
  background-color: #f5c506;
  background-image: url("../assets/img/logo_click.png");
  background-position: 57% 50%;
  background-repeat: no-repeat;
  opacity: 0.72;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 33.5px);
  left: calc(51% - 33.5px);
  z-index: 5;
  display: block;
}

.video-wrapper::before {
  content: '';
  width: 27px;
  height: 27px;
  opacity: 0.28;
  background-color: #f5c506;
  position: absolute;
  background-image: url("../assets/img/logo_click.png");
  background-position: 65% 50%;
  background-repeat: no-repeat;
  background-size: 10px 17px;
  top: 84%;
  left: 12.9%;
  z-index: 5;
  display: block;
}

.video-wrapper__line {
  width: 404px;
  height: 12px;
  position: absolute;
  top: 86.5%;
  left: 20.9%;
  background-color: #f5c506;
  opacity: 0.37;
  border-radius: 15px;
  z-index: 5;
}

.video-wrapper__line::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../assets/img/logo-sound.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  top: -14%;
  right: -11.5%;
  z-index: 8;
  display: block;
}

.video-wrapper__line-two {
  width: 179px;
  height: 12px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f5c506;
  position: absolute;
  top: 86.5%;
  left: 20.9%;
  z-index: 30;
}

.mid-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
  position: relative;
}

.mid-bar-wrapper::after {
  content: '';
  background-image: url("../assets/img/bg1-section-two.jpg");
  background-size: cover;
  position: absolute;
  display: block;
  width: 640px;
  height: 174px;
  opacity: 0.4;
  z-index: -5;
  top: -34.4%;
}

.mid-bar-wrapper::before {
  content: '';
  background-image: url("../assets/img/bg1-section-two.jpg");
  background-size: cover;
  position: absolute;
  display: block;
  width: 640px;
  height: 174px;
  opacity: 0.4;
  z-index: -2;
  top: -39.4%;
}

.mid-bar-item {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 23px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.23px;
  text-align: center;
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
}

.mid-bar-item__svg {
  margin-bottom: 2%;
}

.mid-svg-first {
  margin-bottom: 9%;
}

.mid-svg-second {
  margin-top: -2%;
  margin-bottom: 6%;
  margin-left: 9%;
}

.mid-svg-three {
  margin-top: -2%;
  margin-bottom: 6%;
  margin-left: -23%;
}

.mid-title-first {
  margin-left: 6%;
}

.mid-title-second {
  margin-left: 17px;
}

.mid-title-three {
  margin-left: -30px;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-two-left {
  -ms-flex-preferred-size: 49.6%;
  flex-basis: 49.6%;
  position: relative;
}

.section-two-left-text {
  background-color: #ec9e03;
  color: #ffffff;
  font-family: "Segoe WP";
  font-size: 29px;
  font-weight: 300;
  line-height: 33.31px;
  letter-spacing: 0.33px;
  margin-left: 9px;
  margin-right: 10px;
  padding: 16px 16px 19px 26px;
}

.section-two-left-text p {
  margin: 0;
  padding: 0;
}

.section-two-right-video {
  margin-right: 8px;
  position: relative;
}

.section-two-right-video::after {
  content: '';
  width: 61px;
  height: 61px;
  border-radius: 50%;
  opacity: 0.72;
  background-color: #f5c506;
  position: absolute;
  background-image: url("../assets/img/logo_click.png");
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: 18px 32px;
  top: 39%;
  left: 41%;
  z-index: 20;
  display: block;
}

.mark {
  color: #ffffff;
  position: absolute;
  top: 85%;
  right: 6%;
  z-index: 24;
}

.section-twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5c507;
  margin-top: 9px;
}

.section-twitter-left {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
  text-align: center;
  padding-top: 8.7%;
  padding-bottom: 5.9%;
  padding-left: 1%;
}

.section-twitter-right {
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}

.section-twitter-right-text {
  color: #8f8e8e;
  font-family: "Arial MT";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
}

.section-twitter-right-text__item {
  background-image: url("../assets/img/bubble.svg");
  background-repeat: no-repeat;
  background-size: 290px 42px;
  margin-bottom: 4%;
  margin-left: 1.1%;
  padding: 7px 0px 5px 28px;
}

.section-twitter-right-text__item:first-child {
  margin-top: 6.5%;
  margin-bottom: 5%;
}

.section-twitter-right-text__item:not(:first-child) {
  opacity: 0.6;
}

.section-twitter-right-input__text {
  -webkit-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
  box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  width: 198px;
  height: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 6%;
  margin-top: 1%;
  outline: none;
  padding-left: 2%;
}

.section-twitter-right-input__button {
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-align: center;
  background-color: #e9a725;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30px;
  outline: none;
  border: none;
  padding: 6px 16px 7px 7px;
  position: relative;
  right: 1%;
}