@font-face {
  font-family: 'Arial MT';
  src: url("../assets/fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url("../assets/fonts/LucidaSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans - Narrow Bold';
  src: url("../assets/fonts/PTSans-Narrow.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url("../assets/fonts/SegoeWP-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url("../assets/fonts/SegoeWP.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 62px;
  background-color: #f5c506;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 186px;
  background-color: #4c4c4c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4c4c4c), to(rgba(255, 255, 255, 0.1)));
  background-image: -o-linear-gradient(bottom, #4c4c4c 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to top, #4c4c4c 0%, rgba(255, 255, 255, 0.1) 100%);
}

.header__logo svg {
  margin: 11px 8px 12px 12px;
}

.header__logo h1 {
  margin: 0;
  padding: 0;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
  color: #ffffff;
  font-family: "Lucida Sans";
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.41px;
}

.header__nav {
  font-family: "Segoe WP";
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.19px;
}

.header__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav li {
  margin-top: 20px;
}

.header__nav li:last-child {
  margin-right: 12px;
}

.header__nav a {
  display: block;
  min-width: 125px;
  text-decoration: none;
  color: #9b7d08;
  font-size: 19px;
  font-weight: 400;
  position: relative;
}

.header__nav a::after {
  content: '';
  display: block;
  width: 1px;
  height: 62px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: -20px;
  left: -13px;
}

.header__nav a img {
  vertical-align: middle;
}

.first {
  margin-right: 29px;
}

.middle {
  margin-right: 13px;
}

.header__nav .last {
  padding-right: 0;
}

.header__nav .first::after {
  background: none;
}

.header__nav .middle::after {
  left: -8px;
}

.logo_mail {
  margin-right: 12px;
  width: 28px;
  height: 20px;
  margin-top: -7px;
}

.logo_tools {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.logo_people {
  margin-top: -5px;
  margin-right: 11px;
  width: 24px;
  height: 22px;
}